/******************************************
Theme overrides to avoid conflict
*******************************************/

.image {
    display: block;
    text-align: center;
}

.reveal section img {
    max-height: 15em;
}

.reveal p {
    font-size: 90%;
}
.reveal .dlist dl p {
	font-size: 60%;
}

.reveal .dlist dt {
	font-size: 70%;
}


